* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: #1c1d1e;
}

h1 {
    font-size: 2.1rem;
    color:#ffffff;
}

h2 {
    font-size: 2.1rem;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1000px;
    min-width: 475px;
}

header, footer, footer a {
    text-align: center;
    background-color: #495867;
    color: whitesmoke;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: 12px;
}